<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ticktalk.translateto">

    <!-- To use Volley-->
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />





    <application
        android:name="com.ticktalk.translateto.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name="com.ticktalk.translateto.activities.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ticktalk.translateto.activities.SettingActivity"/>

        <activity android:name="com.ticktalk.translateto.activities.ProfileActivity"/>

        <activity android:name="com.ticktalk.translateto.activities.MoreAppActivity"/>

        <activity android:name="com.ticktalk.translateto.activities.HumanTranslationActivity"/>

        <activity android:name="com.ticktalk.translateto.activities.HistoryActivity" />

        <activity android:name="com.ticktalk.translateto.activities.FavoriteActivity" />

        <activity android:name="com.ticktalk.translateto.activities.SignUpActivity" />

        <activity android:name="com.ticktalk.translateto.activities.LoginActivity" />

        <activity android:name=".purchase._PaymentDetails" />

    </application>

</manifest>